# --------------------
# General for R Projects

.
..
.DS_Store
.Rhistory
.Rprofile
.RData
.Rproj.user
.Ruserdata


# --------------------
# General for the book

/.quarto/
/docs/
/_book/
/_includes/
/site_libs/


# --------------------
# Catch-all for specific file types and incompletely rendered page outputs

**/*.docx
**/*.pptx

**/_quarto_internal_scss_error.scss
**/*.html
**/*_files
**/*.quarto_ipynb


# --------------------
# Catch-all to ensure all KEEP LOCAL directories are ignored

**/Yale_typeface/
**/KEEP LOCAL/
