# --------------------
# General for R Projects

.
..
.DS_Store
.Rhistory
.Rprofile
.RData
.Rproj.user
.Ruserdata


# --------------------
# General for the book 

/.quarto/
/docs/
/_book/
sites_libs/
*.docx
*.html
*_files
/_quarto_internal_scss_error.scss



