# --------------------
# General for R Projects

.
..
.DS_Store
.Rhistory
.Rprofile
.RData
.Rproj.user
.Ruserdata


# --------------------
# General for the book 

/.quarto/
/docs/
/_book/
sites_libs/
*.docx
*.html
*_files


# --------------------
# Getting Started with Git and GitHub Workshop

Git-and-GitHub/Population Estimates and Projections/Not Used Data Sets
Git-and-GitHub/YSPH DSDE Workshop Codespace Download_04.19.2025
Git-and-GitHub/git-github_Video1_10.30.2024.mp4



